/* ===========================
   GOLD CORNER STYLE
=========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{

background:#080808;
color:white;
overflow-x:hidden;

}

/* Scroll Bar */

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:gold;
border-radius:20px;

}

::-webkit-scrollbar-track{

background:#111;

}

/* Header */

header{

position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(0,0,0,.75);
backdrop-filter:blur(12px);
z-index:999;

border-bottom:1px solid rgba(255,215,0,.25);

}

.logo h2{

font-size:32px;
color:white;

letter-spacing:2px;

}

.logo span{

color:gold;

}

nav{

display:flex;
gap:35px;

}

nav a{

color:white;
text-decoration:none;
font-size:17px;
transition:.4s;

}

nav a:hover{

color:gold;

}

.whatsapp-btn{

background:gold;
padding:12px 28px;
border-radius:40px;
text-decoration:none;
font-weight:bold;
color:black;
transition:.4s;

}

.whatsapp-btn:hover{

transform:scale(1.08);

box-shadow:0 0 25px gold;

}

/* HERO */

.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.72),rgba(0,0,0,.75)),
url(0.jpg);

background-size:cover;
background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.hero-content{

max-width:850px;

}

.hero h1{

font-size:75px;

color:gold;

margin-bottom:20px;

text-shadow:

0 0 15px gold;

}

.hero p{

font-size:22px;

line-height:1.9;

color:#ddd;

margin-bottom:40px;

}

.shop-btn{

display:inline-block;

padding:18px 45px;

background:gold;

color:black;

font-weight:bold;

text-decoration:none;

border-radius:50px;

transition:.4s;

}

.shop-btn:hover{

transform:translateY(-6px);

box-shadow:0 0 35px gold;

}
/* ===========================
   PRODUCTS
=========================== */

.products{

padding:120px 8%;
background:#0c0c0c;

}

.title{

text-align:center;
font-size:48px;
color:gold;
margin-bottom:70px;
text-transform:uppercase;
letter-spacing:2px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}

.card{

background:#151515;

border-radius:20px;

overflow:hidden;

transition:.5s;

border:1px solid rgba(255, 217, 0, 0.555);

box-shadow:0 0 15px rgba(255,215,0,.05);

}

.card:hover{

transform:translateY(-12px);

box-shadow:

0 0 25px rgba(255,215,0,.35),

0 0 60px rgba(255,215,0,.18);

}

.card img{

width:100%;

height:360px;

object-fit:cover;

transition:.5s;

cursor:pointer;

}

.card:hover img{

transform:scale(1.06);

}

.card-content{

padding:25px;

text-align:center;

}

.card-content h3{

font-size:28px;

color:gold;

margin-bottom:10px;

}

.card-content p{

color:#ccc;

margin-bottom:25px;

line-height:1.8;

}

.card button{

padding:14px 38px;

border:none;

border-radius:40px;

background:gold;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:.4s;

}

.card button:hover{

transform:scale(1.08);

box-shadow:0 0 25px gold;

}

/* ===========================
   ABOUT
=========================== */

.about{

padding:120px 10%;

background:#090909;

text-align:center;

}

.about-content{

max-width:900px;

margin:auto;

}

.about p{

font-size:20px;

line-height:2;

color:#ddd;

}

/* ===========================
   CONTACT
=========================== */

.contact{

padding:120px 10%;

text-align:center;

background:#111;

}

.contact-box{

display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

flex-wrap:wrap;

}

.contact-box a{

padding:18px 35px;

border:1px solid gold;

border-radius:50px;

text-decoration:none;

color:white;

transition:.4s;

font-size:18px;

}

.contact-box a i{

margin-right:10px;

color:gold;

}

.contact-box a:hover{

background:gold;

color:black;

transform:translateY(-6px);

}

.contact-box a:hover i{

color:black;

}
/*==========================
        FOOTER
==========================*/

footer{

background:#050505;

padding:50px 20px;

text-align:center;

border-top:1px solid rgba(255,215,0,.2);

}

footer h2{

color:gold;

font-size:35px;

letter-spacing:3px;

margin-bottom:15px;

}

footer p{

color:#bbb;

font-size:16px;

line-height:1.8;

}

/*==========================
      FLOATING WHATSAPP
==========================*/

.floating-whatsapp{

position:fixed;

bottom:25px;

right:25px;

width:65px;

height:65px;

background:#25D366;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:32px;

color:white;

text-decoration:none;

box-shadow:0 0 20px rgba(37,211,102,.5);

transition:.4s;

z-index:999;

}

.floating-whatsapp:hover{

transform:scale(1.15);

box-shadow:0 0 35px #25D366;

}

/*==========================
       ANIMATION
==========================*/

.card{

animation:fadeUp .8s ease;

}

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(40px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

.hero h1{

animation:glow 2s infinite alternate;

}

@keyframes glow{

0%{

text-shadow:0 0 10px gold;

}

100%{

text-shadow:

0 0 20px gold,

0 0 40px gold,

0 0 60px gold;

}

}

/*==========================
      RESPONSIVE
==========================*/

@media(max-width:991px){

header{

padding:20px 5%;

flex-direction:column;

gap:20px;

}

nav{

flex-wrap:wrap;

justify-content:center;

gap:20px;

}

.hero h1{

font-size:50px;

}

.hero p{

font-size:18px;

}

.title{

font-size:36px;

}

.cards{

grid-template-columns:1fr;

}

.card img{

height:300px;

}

.contact-box{

flex-direction:column;

align-items:center;

}

}

@media(max-width:600px){

.hero h1{

font-size:38px;

}

.hero p{

font-size:16px;

}

.shop-btn{

padding:15px 30px;

}

.logo h2{

font-size:25px;

}

.whatsapp-btn{

padding:10px 20px;

font-size:14px;

}

}